<table class="container table">
    <thead>
        <tr>
            <!-- <th class="table-color p-3" *ngFor="let key of dataKeys">
                {{ key.charAt(0).toUpperCase() + key.slice(1) }}
            </th>-->
            <th class="table-color">Name</th>
            <th class="table-color">Contact Number</th>
            <th class="table-color">Email Address</th>
            <th class="table-color">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of contacts">
            <td class="underline w-1/4">
                <a
                    routerLink="/details/{{ item.id }}"
                    aria-label="Link to Contact Information"
                >
                    {{ item.name }}
                </a>
            </td>
            <td class="w-1/6">{{ item.phone | PhoneFormatter : 1 }}</td>
            <td class="w-1/2">{{ item.email }}</td>
            <td class="text-center">
                <div class="flex mt-1.5 gap-3 justify-center">
                    <app-icon-button (click)="onEdit(item.id)">
                        <img src="{{ editIcon }}" alt="editIcon" />
                    </app-icon-button>
                    <app-icon-button (click)="onDelete(item.id)">
                        <img src="{{ trashIcon }}" alt="trashIcon" />
                    </app-icon-button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
